<body onload="load()">
    <table class="table table-striped">
        <thead class="bg-success">
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Endereço</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
            <!--Dados carregados pelau função display-->
        </tbody>
    </table>
    <script>
        function load() {
            fetch("http://localhost:3000/clientes")
                .then(x => x.text())
                .then(data => display(data))
        }

        function display(data) {
            var trs = ""
            var listaJson = JSON.parse(data)
            for (let indice in listaJson) {
                trs += "<tr>"
                trs += "<td>" + listaJson[indice].id + "</td>"
                trs += "<td>" + listaJson[indice].descricao + "</td>"
                trs += "<td>" + listaJson[indice].preco + "</td>"
                trs += "<td>" + listaJson[indice].estoque + "</td>"
                trs += "<td>" + listaJson[indice].categoria + "</td>"
                trs += "<td>" + listaJson[indice].fornecedor + "</td>"
                trs += "</tr>"
            }
            document.getElementsByTagName("tbody")[0].innerHTML = trs;
        }
    </script>
</body>