<div class="container">
    <h1 class="text-center mb-3 mt-3">Cadastro de Clientes</h1>
    <form #f="ngForm" (ngSubmit)="gravar(f.value)" on>
        <label>Nome</label>
        <input required minlength="5" maxlength="15" class="form-control shadow p-2 mb-1 bg-white rounded" type="text"
            #fnome="ngModel" ngModel name="nome" placeholder="Informe nome" />
        <div *ngIf="fnome.errors?.['required']" class="ng-invalid text-danger">
            Informe seu nome
        </div>
        <div *ngIf="fnome.errors?.['minlength']" class="ng-invalid text-danger">
            Informe no minimo 5 caracteres
        </div>

        <label>E-mail</label>
        <input required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            class="form-control shadow p-2 mb-1 bg-white rounded" type="email" #femail="ngModel" ngModel name="email"
            placeholder="Informe email" />
        <div *ngIf="femail.errors?.['required']" class="ng-invalid text-danger">
            Informe um email
        </div>
        <div *ngIf="femail.errors?.['pattern']" class="ng-invalid text-danger">
            Informe email válido ex: seunome@gmail.com
        </div>

        <label>Senha</label>
        <input required minlength="4" maxlength="7" class="form-control shadow p-2 mb-1 bg-white rounded"
            type="password" #fsenha="ngModel" ngModel name="senha" placeholder="Informe senha" />
        <div *ngIf="fsenha.errors?.['required']" class="ng-invalid text-danger">
            Informe uma senha
        </div>
        <div *ngIf="fsenha.errors?.['minlength']" class="ng-invalid text-danger">
            Informe no mínimo 4 caracteres
        </div>

        <label>Data de nascimento</label>
        <input required class="form-control shadow p-2 mb-1 bg-white rounded" type="date" #fnascimento="ngModel" ngModel
            name="datanascimento" placeholder="Informe data de nascimento" />
        <div *ngIf="fnascimento.invalid" class="ng-invalid text-danger">
            Informe sua data de nascimento
        </div>
        <div>
            <br>
            <h5 class="text-success">As duas perguntas a seguir são destinadas a vagas especiais.</h5>

            <h6>Você está gestante?</h6>
            <div class="wrapper">
                <div class="form-group">
                    <label for="radio1"> <input class="radio" name="gestante" id="radio1" type="radio" #fgestante="ngModel" value="S" name="gestante" ngModel> Sim </label>
                </div>
                <div class="form-group">
                    <label for="radio2"><input class="radio" name="theradio" id="radio2" type="radio" value="N"  name="gestante" ngModel> Não</label>
                
                </div>
            </div>

            <h6>Você é uma pessoa com algum tipo de deficiência?</h6>
            <div class="wrapper">
                <div class="form-group">
                    <label for="radio3"><input class="radio" name="pcd" id="radio3" type="radio" #fpcd="ngModel" value="S" name="pcd" ngModel>Sim</label>
                </div>
                <div class="form-group">
                    <label for="radio4"><input class="radio" name="theradio" id="radio4" type="radio" value="N" name="pcd" ngModel>Não</label>
                </div>
            </div>
        </div>

        <div class="mt-3 mb-3">
            <button class="btn btn-info me-2 shadow p-2">Salvar</button>
            <button type="reset" class="btn btn-dark me-2 shadow p-2">Cancelar</button>
        </div>
    </form>
</div>

<div>
    <table class="table">
        <thead class="bg-dark">
            <tr>
                <th class="bg-white">Id</th>
                <th class="bg-white">Nome</th>
                <th class="bg-white">Email</th>
                <th class="bg-white">Senha</th>
                <th class="bg-white">Nascimento</th>
                <th class="bg-white">Gestante</th>
                <th class="bg-white">PCD</th>
                <th class="bg-white">Editar</th>
                <th class="bg-white">Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usuarios">
                <td> {{ user.id }}</td>
                <td> {{ user.nome }}</td>
                <td> {{ user.email }}</td>
                <td> {{ user.senha }}</td>
                <td> {{ user.datanascimento }}</td>
                <td> {{ user.gestante }} </td>
                <td> {{ user.pcd }} </td>
                <td> <a [routerLink]="['/usuarios',user.id]"><i class="material-icons text-info">mode_edit</i></a></td>
                <td> <i role="button" class="material-icons text-danger" (click)="excluir(user.id)">delete</i></td>
            </tr>
        </tbody>
    </table>
</div> 