<div class="container">
    
    <form>
        <header class="header-form">
            <h1> Cadastro de Usuário</h1>
        </header>
        <input class="form-control" type="text" ngModel name="nome" placeholder="Informe nome" />
        <input class="form-control" type="email" ngModel name="email" placeholder="Informe e-mail" />
        <input class="form-control" type="password" ngModel name="senha" placeholder="Informe senha" />
        <input class="form-control" type="text" ngModel name="gestante" />
        <input class="form-control" type="date" ngModel name="nome" placeholder="Informe data de nascimento" />
        <input class="form-control" type="text" ngModel name="PCD" />
        <button name= "botao" class="btn btn-dark">Salvar</button>
    </form>
    <p>
      
    </p>
</div>
<router-outlet></router-outlet>

