<!--<div class="container">
    <h1 class="text-center mb-3 mt-3">Login</h1>
    <form #f="ngForm" (ngSubmit)="gravar(f.value)">
        <input required minlength="5" class="form-control shadow p-2 mb-1 bg-white rounded" type="text" #fnome="ngModel" ngModel name="nome" placeholder="Informe nome" />
        <div *ngIf="fnome.errors?.['required']" class="ng-invalid text-danger">
            Informe seu nome
        </div>

        <div *ngIf="fnome.errors?.['minlength']" class="ng-invalid">
            Informe no minimo 5 caracteres
        </div>

        <input required minlength="5" class="form-control shadow p-2 mb-1 bg-white rounded" type="password" #fsenha="ngModel" ngModel name="nome" placeholder="Informe senha" />
        <div *ngIf="fsenha.errors?.['required']" class="ng-invalid text-danger">
            Informe senha
        </div>
-->

